*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-width: 375px;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: $fs-mobile;
  font-weight: 400;
  line-height: $lh-mobile;
  color: $dark;
  background-color: $white;
}

.red {
  color: $red;
}

.gray {
  color: $gray;
}

.blue {
  color: $blue;
}

.underline {
  text-decoration: underline;
}
