$white: #fff;
$blue: #49a9b4;
$dark-gray: #83919b;
$light-gray: #d3e1e2;
$gray: #a8b7bb;
$dark: #0c0b24;
$red: #ff2639;
$light: #f8fdff;
$main: #333;

$container-padding: 15px;
$md: 992px;

$fs-mobile: 16px;
$lh-mobile: 26px;

$desktop-width: 1200px;
