.future {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.future__label {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.future__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 50px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;
  color: $red;
}

.future__desc {
  margin: 0;
  margin-bottom: 24px;
  color: $dark-gray;
}

.future__list {
  @include list-reset;
}

.future__item-icon {
  margin-bottom: 22px;
}

.future__item {
  padding: 24px 0;
}

.future__item-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: $main;
}

.future__item-desc {
  margin: 0;
  color: $dark-gray;
}
