.graphic {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background: linear-gradient(to top, #f3f3f8 180px, $white 180px);

  @include desktop {
    padding-top: 80px;
    padding-bottom: 70px;
    background: linear-gradient(to top, #f3f3f8 240px, $white 240px);
  }
}

.graphic__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.graphic__tip {
  display: block;
  margin-bottom: 34px;
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $red;

  @include desktop {
    display: none;
  }
}

.graphic__wrapper {
  overflow-x: scroll;

  @include desktop {
    overflow: auto;
  }
}

.graphic__img {
  display: block;
  margin: 0 auto;
  max-width: none;
  width: auto;
  max-height: 266px;

  @include desktop {
    max-height: 100%;
    width: 100%;
    height: auto;
  }
}

.graphic__tooltip {
  display: none;
  position: absolute;
  bottom: -30px;
  right: 0;
  max-width: 234px;
  padding: 40px 50px;
  text-align: left;
  background: $white;
  box-shadow: 0 0 25px rgba(79, 29, 255, 0.1);
  border-radius: 50px;
  transition: opacity 0.5s;

  @include desktop {
    display: block;
    opacity: 0;
  }
}

.graphic__tooltip-icon {
  border-radius: 20px;
}

.graphic__tooltip-text {
  margin: 0;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

.graphic__wrapper:hover + .graphic__tooltip {
  opacity: 1;
}
