.graphic {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background: linear-gradient(to top, #f3f3f8 180px, $white 180px);
}

.graphic__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.graphic__tip {
  display: block;
  margin-bottom: 34px;
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $red;
}

.graphic__wrapper {
  overflow-x: scroll;
}

.graphic__img {
  display: block;
  margin: 0 auto;
  max-width: none;
  width: auto;
  max-height: 266px;
}
