.header {
  padding: 10px 0;
  text-align: center;
  color: $white;
  background-color: $blue;
}

.header__nav-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.header__nav-button {
  display: none;
}

.header__nav {
  transform: translateX(-150vw);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
  color: $dark;
  background-color: $white;
  z-index: 7;
  transition: transform 0.25s;
  padding: 64px 48px 56px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 25px;

  &.active {
    transform: translate(0);
  }

  .header__nav-button {
    display: block;
    margin-top: 18px;
  }
}

.header__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.header__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.header__nav-list {
  @include list-reset;

  margin-top: auto;
  margin-bottom: auto;
}

.header__nav-item {
  margin: 18px 0;
}

.header__nav-link {
  color: inherit;
}

.header__logo-icon {
  display: block;
  margin: 0 auto;
}

.header__nav-link-language {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: inherit;
  border-radius: 50%;
  border: 1px solid $white;

  &:active {
    background-color: rgba($white, 0.3);
  }
}
