.header {
  padding: 10px 0;
  text-align: center;
  color: $white;
  background-color: $blue;

  @include desktop {
    padding: 15px 0;
  }
}

.header__nav-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.header__nav-button {
  display: none;
  flex-shrink: 0;

  &--desktop {
    @include desktop {
      display: inline-block;
    }
  }
}

.header__logo-link {
  @include desktop {
    margin-left: -24px;
  }
}

.header__nav {
  transform: translateX(-150vw);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
  color: $dark;
  background-color: rgba($white, 0.975);
  z-index: 7;
  transition: transform 0.25s;
  padding: 64px 48px 56px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 25px;

  @include desktop {
    position: static;
    transform: translate(0);
    height: auto;
    padding: 0;
    color: $white;
    background-color: transparent;
    display: block;
    margin: 0 auto;
  }

  &.active {
    transform: translate(0);
  }

  .header__nav-button {
    display: block;
    margin-top: 18px;

    @include desktop {
      display: none;
    }
  }

  .header__logo-link {
    @include desktop {
      display: none;
    }
  }
}

.header__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  padding: 0;

  @include desktop {
    display: none;
  }
}

.header__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  background-color: transparent;

  @include desktop {
    display: none;
  }
}

.header__nav-list {
  @include list-reset;

  margin-top: auto;
  margin-bottom: auto;

  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.header__nav-item {
  margin: 18px 0;

  @include desktop {
    margin: 0;
    padding: 5px 20px;
  }
}

.header__nav-link {
  color: inherit;
}

.header__logo-icon {
  display: block;
  margin: 0 auto;

  @include desktop {
    width: 304px;
    height: 78px;
  }
}

.header__nav-link-language {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: inherit;
  border-radius: 50%;
  border: 1px solid $white;

  @include desktop {
    margin-left: 16px;
    margin-right: 16px;
    width: 50px;
    height: 50px;
    font-size: $fs-mobile;
    line-height: $lh-mobile;
  }

  &:active {
    background-color: rgba($white, 0.3);
  }
}
