.hero {
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  color: $white;
  background-image: url('../img/bg-blue-rectangle-2.svg'), linear-gradient(to top, $white 1px, $blue 1px);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left bottom;

  @include desktop {
    padding-top: 0;
    text-align: left;
    background-image: url('../img/bg-blue-rectangle-4.svg'), linear-gradient(to top, $white 1px, $blue 1px);

    br {
      display: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -84px;
    right: 20px;
    width: 244px;
    height: 266px;
    background-image: url('../img/illustration-2.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @include desktop {
      display: none;
    }
  }

  &--no-icon::after {
    display: none;
  }
}

.hero__container {
  @include desktop {
    padding-top: 90px;
    padding-left: 100px;
    padding-bottom: 80px;

    &::after {
      content: '';
      position: absolute;
      bottom: -154px;
      right: 15px;
      width: 486px;
      height: 530px;
      background-image: url('../img/illustration-2.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &--no-icon {
    padding-bottom: 0;
  }

  &--no-icon::after {
    display: none;
  }
}

.hero__title {
  margin: 0 auto 30px;
  max-width: 720px;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;

  @include desktop {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 56px;
  }

  &--404 br {
    display: block;
  }
}

.hero__desc {
  margin: 0 auto 30px;
  max-width: 720px;
  font-size: 18px;
  line-height: 25px;

  @include desktop {
    margin-left: 0;
    margin-bottom: 40px;
  }

  &--404 br {
    display: block;
  }
}

.hero__btn {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  border: 0;
  box-shadow: 0 4px 5px rgba(83, 83, 83, 0.1);
}

.hero__row {
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.hero__col {
  @include desktop {
    padding-left: 15px;
    padding-right: 15px;
  }

  &--sh0 {
    flex-shrink: 0;
  }
}
