.video-box {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 992px;
  padding-bottom: 56.25%;
  text-align: center;
  color: $dark;
  border: 8px solid $light-gray;
  border-radius: 20px;
  background-color: #f6f7f8;

  &--shadow {
    box-shadow: -10px -10px 30px rgba(50, 122, 131, 0.3), 10px 10px 30px rgba(50, 122, 131, 0.3);
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    overflow: hidden;
  }
}

.video-box__overlay {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #f6f7f7;
  background-image: url('../img/video-icon.svg'), url('../img/circles.svg'), url('../img/bg-video-desktop.png');
  background-repeat: no-repeat;
  background-size: auto, 55%, cover;
  background-position: bottom -7px right -7px, top left, center;
  border-radius: 13px;

  @include desktop {
    justify-content: flex-start;
    background-size: 37%, 55%, cover;
  }

  &--bg-1 {
    background-image: url('../img/video-icon-2.svg'), url('../img/circles.svg'), url('../img/bg-video-desktop.png');
    background-size: auto, 80%, cover;
    background-position: bottom right, top left, center;

    @include desktop {
      background-size: 44%, 80%, cover;
    }
  }

  &--bg-2 {
    background-image: url('../img/video-icon-3.svg'), url('../img/circles-red.svg'), url('../img/bg-video-desktop.png');
    background-size: auto, 80%, cover;
    background-position: bottom right, top left, center;

    @include desktop {
      background-size: 43%, 80%, cover;
    }
  }

  &--3 {
    @include desktop {
      background-size: 36%, 55%, cover;
    }
  }
}

.video-box__logo-icon {
  flex-shrink: 0;

  @include desktop {
    flex-shrink: 1;
    min-height: 64px;
    width: 323px;
    height: 83px;
  }

  &--margin-bottom {
    margin-top: 32px;
    margin-bottom: 12px;

    @include desktop {
      margin-bottom: 45px;
    }
  }
}

.video-box__title {
  margin: 0;
  font-size: $fs-mobile;
  line-height: $lh-mobile;

  @include desktop {
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 50px;
  }

  &--bigger {
    @include desktop {
      font-size: 48px;
      line-height: 67px;
    }
  }
}

.video-box__play-btn {
  margin-bottom: 32px;
  padding: 8px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  svg {
    display: block;

    @include desktop {
      width: 64px;
      height: 64px;
    }
  }

  &--bigger svg {
    @include desktop {
      width: 96px;
      height: 96px;
    }
  }
}
